#contact::before {
  z-index: -1;

  filter: blur(10px);
}

.consultation-img img{
  width: 100%;
  height: 280px;
}
.brexit{
  color: #007eb8e1;
  size: 18px;
  font-weight: bold;
}
.title a{
  color: #007eb8e1;
  transition: 0.5s;

}
.title a:hover{
  color: #F44336;
  transition: 0.5s;
}
.explanation{
  border-right: 1px solid #BDBDBD;
}
.btn-reachus{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 10px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #007eb8e1;
}
.btn-reachus:hover{
  color: #fff;
  background: #007eb89f;
}
.email-error{
  padding-top: 80px;
  height: 50vh;
}
