/*feature-box */
.feature-box {
  padding: 0 0 20px 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feature-box .feature-box-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 10px;
}

.feature-box .feature-box-icon {
  font-size: 50px;
  padding: 20px 0;
  line-height: 24px;
}

.feature-box .feature-box-desc {
  margin: 0;
}

/*feature box style 1*/
.feature-box.f-style-1 {
  padding: 20px;
}

.feature-box.f-style-1 .feature-box-icon {
  font-size: 60px;
}

.feature-box.f-style-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  height: 5px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  background: -moz-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #97c74e),
    color-stop(100%, #2ab9a5)
  );
  background: -webkit-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -o-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -ms-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feature-box.f-style-1:hover.f-style-1:before,
.feature-box.f-style-1.active.f-style-1:before {
  opacity: 1;
  visibility: visible;
}

.feature-box.f-style-1.f-style-1:hover,
.feature-box.f-style-1.f-style-1.active {
  box-shadow: 0px 0px 40px rgba(83, 88, 93, 0.1);
}

/*feature-box style 2*/
.feature-box.f-style-2 {
  padding: 20px;
  box-shadow: 0px 0px 40px rgba(83, 88, 93, 0.1);
}

.feature-box.f-style-2 .feature-box-icon {
  font-size: 72px;
  margin-left: -30px;
  float: left;
  margin-right: 30px;
  padding-top: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feature-box.f-style-2 .feature-box-title {
  margin-top: 20px;
}

.feature-box.f-style-2 a {
  display: block;
}

.feature-box.f-style-2 .feature-box-desc {
  clear: both;
}

.feature-box.f-style-2:hover {
  box-shadow: 0px 0px 80px rgba(83, 88, 93, 0.2);
}

.feature-box.f-style-2:hover .feature-box-icon {
  margin-left: 0px;
  margin-right: 10px;
}

/*feature-box style 3*/
.feature-box.f-style-3 {
  padding: 30px;
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-bottom-width: 5px;
}

.feature-box.f-style-3:hover {
  border-color: #0076bc;
  box-shadow: 0px 0px 20px rgba(83, 88, 93, 0.1);
}

.feature-box.f-style-3 .feature-box-icon {
  font-size: 50px;
  margin-left: 0px;
  float: left;
  margin-right: 30px;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.feature-box.f-style-3 .feature-box-title {
  margin-top: 10px;
  padding-left: 80px;
}

.feature-box.f-style-3 a {
  display: block;
}

.feature-box.f-style-3 .feature-box-desc {
  padding-left: 80px;
}

/*feature-box style 4*/
.feature-box.f-style-4 .feature-box-icon {
  font-size: 50px;
  margin-left: 0px;
  float: left;
  margin-right: 10px;
  padding: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feature-box.f-style-4 .feature-box-title {
  margin-top: 0px;
  padding-left: 70px;
}

.feature-box.f-style-4 a {
  display: block;
}

.feature-box.f-style-4 .feature-box-desc {
  padding-left: 70px;
}

/*feature-box style 5*/
.feature-box.f-style-5 {
  padding: 20px;
}

.feature-box.f-style-5:hover {
  box-shadow: 0 10px 40px 0 rgba(119, 135, 147, 0.15);
}

.feature-box.f-style-5 .feature-box-icon {
  font-size: 30px;
  padding: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: inline-block;
}

@media (max-width: 991.98px) {
  .feature-box.f-style-2 .feature-box-icon {
    margin-left: 0;
  }
  .feature-box.f-style-2 .feature-box-title {
    clear: both;
  }
}