/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
    display: table;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#04161f41,#04182241),url(../images/training1.jpg) no-repeat center fixed; 
    background-size: cover;
  }
  
  #intro h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  
  #intro .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 10px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
   
  }
  .btn-training{
    background: #F44336;
  }
  .btn-consultation{
    background: #FFC107;
  }

  
  #intro .btn-get-started:hover {
    background: #fff;
    color: #007db8;
  }

  /* Featured Services Section
--------------------------------*/

#featured-services {
    background: #046896;
  }
  
  #featured-services .box {
    padding: 30px 20px;
  }
  
  #featured-services .box-bg {
    background-image: linear-gradient(0deg, #085b81d0 0%, #0c8cc7c2 50%, #076fa0d0 100%);
  }
  
  #featured-services i {
    color: #FFC107;
    font-size: 48px;
    display: inline-block;
    line-height: 1;
  }
  
  #featured-services h4 {
    font-weight: 400;
    margin: 15px 0;
    font-size: 18px;
  }
  
  #featured-services h4 a {
    color: #fff;
    font-weight: bold;
  }
  
  #featured-services ul li{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
  }

  /* About Section
--------------------------------*/

#About {
    background: #fff;
    background-size: cover;
    padding: 60px 0 40px 0;
  }
  
  #About .box {
    margin-bottom: 30px;
  }
  
  #About .icon {
    width: 64px;
    height: 64px;
    padding-top: 8px;
    text-align: center;
    background-color: #007eb8e1;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    left: calc( 50% - 32px);
    transition: 0.3s;
  }
  
  #About .icon i {
    color: white;
    font-size: 36px;
    line-height: 1;
    transition: 0.5s;
  }
  
  #About .title {

    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #About .title a {
    color: #111;
  }

  
  #About .box:hover .title a {
    color: orange;
  }
  
  #About .description {
    font-size: 14px;

    line-height: 24px;
    margin-bottom: 0;
  }
  #About .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 10px;
    margin: 10px;
    background: #03A9F4;
    color: white;
    transition: all 0.5s;
   
  }
  #About .btn-get-started:hover {
    background: #03a8f4cc;
    transition: all 0.5s;
  }
  .scrollDown{
     position: absolute;
     bottom: 50px;
     left: 50%;
     width: 30px;
     height: 30px;
     transform: translateY(-80px) translateX(-50%)
        rotate(45deg);
  }
  .scrollDown span{
    position:absolute;
    top: 0;
    left: 0;
    display: block;
    width:100% ;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
  }
  .scrollDown span:nth-child(1)
  {
    transform: translate(-15px,-15px);
    animation-delay: -0.4s;
  }
  .scrollDown span:nth-child(2)
  {
    transform: translate(0,0);
    animation-delay: -0.2s;
  }
  .scrollDown span:nth-child(3)
  {
    transform: translate(15px,15px);
    animation-delay: 0;
  }
@keyframes animate
{
  0%
  {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25%
  {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%,100%
  {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}
  
  
  
  
  