/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
    display: table;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#04161f41,#04182241),url(../images/training1.jpg) no-repeat center fixed; 
    background-size: cover;
  }
  
  #intro h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  
  #intro .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 10px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
   
  }
  .btn-training{
    background: #F44336;
  }
  .btn-consultation{
    background: #FFC107;
  }

  
  #intro .btn-get-started:hover {
    background: #fff;
    color: #007db8;
  }

  /* Featured Services Section
--------------------------------*/

#featured-services {
    background: #046896;
  }
  
  #featured-services .box {
    padding: 30px 20px;
  }
  
  #featured-services .box-bg {
    background-image: linear-gradient(0deg, #085b81d0 0%, #0c8cc7c2 50%, #076fa0d0 100%);
  }
  
  #featured-services i {
    color: #FFC107;
    font-size: 48px;
    display: inline-block;
    line-height: 1;
  }
  
  #featured-services h4 {
    font-weight: 400;
    margin: 15px 0;
    font-size: 18px;
  }
  
  #featured-services h4 a {
    color: #fff;
    font-weight: bold;
  }
  
  #featured-services ul li{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
  }

  /* About Section
--------------------------------*/

#About {
    background: #fff;
    background-size: cover;
    padding: 60px 0 40px 0;
  }
  
  #About .box {
    margin-bottom: 30px;
  }
  
  #About .icon {
    float: left;
  }
  
  #About .icon i {
    color: #007eb8e1;
    font-size: 36px;
    line-height: 1;
    transition: 0.5s;
  }
  
  #About .title {
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #About .title a {
    color: #111;
  }
  
  #About .box:hover .title a {
    color: orange;
  }
  
  #About .description {
    font-size: 14px;
    margin-left: 60px;
    line-height: 24px;
    margin-bottom: 0;
  }
  #About .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 10px;
    margin: 10px;
    background: #03A9F4;
    color: white;
    transition: all 0.5s;
   
  }
  #About .btn-get-started:hover {
    background: #03a8f4cc;
    transition: all 0.5s;
  }
  
  
  