@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"); /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #666666;
  font-family: "Comfortaa", cursive;
}

a {
  color: #f60080;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #f60080;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

#contact {
  padding: 100px 0px 60px 0px;
  background: white;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #f60080;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: step-start 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

.float {
  position: fixed;
  width: 165px;
  height: 36px;
  bottom: 40px;
  left: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  z-index: 100;
  display: flex;
  text-decoration: none;
}
.float:hover {
  color: #fff;
}

.my-float {
  margin-left: 20px;
  margin-top: 10px;
}
.my-text {
  margin-left: 8px;
  margin-top: 6px;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.home-section-header h3 {
  font-size: 28px;
  color: #f60080;
  text-align: center;
  font-weight: 500;
  position: relative;
  padding-bottom: 15px;
  padding-top: 15px;
}

.home-section-header h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.home-section-header h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #f60080;
  bottom: 0;
  left: calc(50% - 20px);
}

.home-section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
  padding-top: 15px;
}

.section-header h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #f60080;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

/* Section with background
--------------------------------*/

.section-bg {
  background: #f7f7f7;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #000;
  padding: 0 0 10px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #f60080;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  padding-right: 65px;
  font-family: "Comfortaa", cursive;
  color: #eee;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #f60080;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

/* #footer .footer-top .footer-links a {
  border-bottom: 1px solid #333;
  padding: 10px 0;
} */

/* #footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
} */

#footer .footer-top .footer-links ul li {
  padding-top: 10px;
}

.links-heading {
  margin-top: 10px;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #f60080;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;
  padding-top: 10px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
  position: relative;
}
#footer .footer-top .social-links a {
  font-size: 14px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 5px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 25px;
  height: 25px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #f60080;
  color: #fff;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 768px) {
  #contact .contact-address,
  #contact .contact-phone,
  #contact .contact-email {
    padding: 5px 0;
  }
}

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  #header #logo {
    padding-left: 60px;
  }

  #nav-menu-container {
    padding-right: 60px;
  }
}

@media (max-width: 1180px) {
  .back-to-top {
    bottom: 15px;
  }

  #header #logo img {
    margin: 5px !important;
    width: 170px !important;
    height: 80px !important;
  }

  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline !important;
  }
}
.headings h3 {
  margin-top: 20px;
}
