#contact {
    background: linear-gradient(#ecdca942, #ece6d4ab) ,url("../images/SAP.jpg") center top no-repeat fixed;
    background-size: cover;
    color: #000;
  }
  .feature-box-img img{
    width: 100%;
    height: 180px;
  }
  .feature-box-title{
    color: #007eb8;
    font-weight: 500;
  }